* {
    min-width: 0;
}
body {
    background-color: #000;
    font-family: 'Lato', sans-serif;
    margin: 0;
    box-sizing: border-box;
    transition: .2s all;
}

.search__form-input:-webkit-autofill,
.search__form-input:-webkit-autofill:hover,
.search__form-input:-webkit-autofill:focus,
.search__form-input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px black inset !important;
}

a {
    text-decoration: none;
}

.hover:hover {
    opacity: .55;
    transition: .3s;
}

nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: clamp(0.938rem, 0.71rem + 1.14vw, 1.563rem) clamp(1.25rem, 0.909rem + 1.7vw, 2.188rem);
}

@media screen and (max-width: 470px) {
    nav {
        flex-direction: column;
        gap: 0;
        margin: 0 auto;
    }
}

.site__title {
    color: whitesmoke;
    margin: 0;
    padding: 0;
}

.search__form {
    min-width: clamp(150px, 20vw, 350px);
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 5vh;
    margin-top: 5vh;
    background: linear-gradient(black, black) padding-box,
    linear-gradient(to left, #3f5efb, #fc466b) border-box;
    border-radius: 17px;
    border: 4px solid transparent;
    flex-wrap: wrap;
}

.search__form-input {
    padding: 10px;
    border: 0;
    text-align: center;
    font-family: inherit;
    color: white;
    background-color: inherit;
    font-size: clamp(14px, 2vw, 20px);
}

.search_form-input-hotkeys {
    display: flex;
    margin-right: clamp(10px, 1.5vw, 25px);
    align-items: center;
    opacity: .35;
}

input:focus {
    outline: none;
}

input::placeholder {
    opacity: .75;
    color: whitesmoke;
}

.search__most-container {
    display: flex;
    justify-content: center;
    width: 65%;
    gap: clamp(0.938rem, 0.71rem + 1.14vw, 1.563rem);
    margin: 0 auto;
}

@media screen and (max-width: 1200px) {
    .search__most-container {
        flex-direction: column;
        align-items: center;
    }
}

.search__most-popular-items {
    display: flex;
    gap: clamp(0.625rem, 0.511rem + 0.57vw, 0.938rem) clamp(0.438rem, 0.256rem + 0.91vw, 0.938rem);
    flex-wrap: wrap;
    align-items: center;
}

.search__most-left-block {
    background: gray;
    padding: 15px;
    position: relative;
    font-style: italic;
    max-height: 125px;
    min-width: 6vw;
    border-radius: 2px;
}



.search__most-title {
    font-weight: 700;
    position: relative;
    color: whitesmoke;
}

.search__most-year {
    font-weight: 200;
    position: absolute;
    right: 5px;
    bottom: 0;
    font-size: 20px;
    color: whitesmoke;
}

.search__most-item {
    padding: 0.5vh 1vw;
    color: whitesmoke;
    background: #242428;
    border-radius: 15px;
    cursor: pointer;
}

.search__most-item:hover {

}

.search__games-length {
    color: whitesmoke;
    text-align: center;
    margin-bottom: 5vh;
}

.search__games-length-number {
    font-style: italic;
    color: gray;
}

.search__games {
    display: flex;
    flex-direction: column;
    gap: clamp(10px, 5vh, 40px);
    width: 60%;
    margin: 0 auto;
}

.search__game-img {
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    font-weight: 700;
    color: whitesmoke;
    font-size: 1rem;
    text-shadow: black 2px 2px;
    padding: 45px;
    cursor: pointer;
}

.search__game-img:hover {
    border-radius: 25%;
}

.search__game-vertical-block {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: clamp(10px, 1vw, 15px);
}

.search__game {
    display: flex;
    gap: clamp(10px, 2vh, 15px);
    padding: clamp(10px, 3vh, 35px) clamp(20px, 3vw, 50px);
    transition: .3s all;
    border-left: rgba(63,94,251,1);
    border-left: linear-gradient(90deg, rgba(252,70,107,1) 0%, rgba(63,94,251,1) 100%);
}

.search__game:hover {
    border-bottom: 0;
    border-left: 2.5vw solid transparent;
    border-radius: 5px;
}

.search__game-index {
    color: whitesmoke;
    align-self: center;
    margin-right: clamp(10px, 1vw, 15px);
    font-size: clamp(20px, 1.5vw, 45px);
    font-weight: bold;
}

.search__game-text {
    display: flex;
    font-weight: 700;
    gap: clamp(10px, 1.25vw, 50px);
    flex-wrap: wrap;
}

.search__game-title {
    font-size: clamp(14px, 1.5vw, 28px);
    color: whitesmoke;
    cursor: pointer;
}

.search__game-title:hover {
    color: gray;
}

.search__game-metascore {
    align-self: center;
    font-size: 0.8rem;
    padding: 15px;
    border-radius: 10px;
    font-weight: bold;
    color: whitesmoke;
    margin-left: auto;
}

.search__game-release-year {
    color: whitesmoke;
    font-size: .85rem;
}

.search__game-years-since {
    color: lightsalmon;
    font-style: italic;
    font-size: .85rem;
    opacity: .7;
}

.search__game-genres-block {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 0.5vw;
    flex-wrap: wrap;
}

.search__game-genre-item {
    color: whitesmoke;
    padding: 3px 10px;
    background: #24272B;
    border-radius: 10px;
    font-size: .75rem;
}

.search__game-platforms-block {
    display: flex;
    color: whitesmoke;
    font-size: 0.75rem;
    gap: .3vw;
}

.search__game-platforms,
.game-page__platforms {
    background-position: center;
    background-size: cover;
    width: 15px;
    height: 15px;
}

.macos,
.ios {
    background-image: url('./assets/macos-light.svg');
}

.pc {
    background-image: url('./assets/windows.svg');
}

.xbox {
    background-image: url('./assets/xbox.svg');
}

.playstation {
    background-image: url('./assets/playstation.svg');
}

.android {
    background-image: url('./assets/android.svg');
}

.linux {
    background-image: url('./assets/linux.svg');
}

.web {
    background-image: url('./assets/web.svg');
}

.nintendo {
    background-image: url('./assets/nintendo.svg');
}

.wii {
    background-image: url('./assets/wii.svg');
}

.search__form-icon {
    background-image: url('./assets/search.svg');
    background-position: center;
    background-size: cover;
    padding: clamp(10px, 2vh, 10px);
    margin-left: clamp(10px, 2vw, 15px);
}

.search__form-input-hotkey {
    color: whitesmoke;
    padding: clamp(2px, 5vh, 4px) clamp(3px, 2vw, 7px);
    border: 1px solid white;
    border-radius: 7px;
    font-size: clamp(12px, .7vw, 16px);
}

.search__form-input-hotkey-plus {
    margin: 0 clamp(3px, .5vw, 5px);
    color: whitesmoke;
}

.search__form-input-reset {
    background-image: url('./assets/x.svg');
    background-position: center;
    background-size: cover;
    cursor: pointer;
    padding: clamp(7px, 1vh, 10px);
    margin-right: clamp(10px, 2vw, 15px);
}

.game-page__background {
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.game-page__container {
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr 0.5fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: clamp(0.625rem, 0.284rem + 1.7vw, 1.563rem);
    grid-row-gap: 0px;
}

.game-page__left-side {
    grid-area: 3 / 2 / 6 / 3;
}

.game-page__platforms-block {
    display: flex;
    color: whitesmoke;
    align-items: center;
    gap: clamp(0.313rem, 0.199rem + 0.57vw, 0.625rem)
}

.game-page__title {
    margin: 0;
    font-size: clamp(16px, 2.5vw, 40px);
    text-shadow: 3px 2px black;
}

.game-page__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: clamp(10px, 1.5vh, 35px);
}

.game-page__description {
    color: #99AABB;
    line-height: 1.5;
    text-shadow: 1px 1px #333;
}

.game-page__release-platforms {
    display: flex;
    gap: clamp(5px, 1vw, 25px);
    align-items: center;
}

.game-page__pic {
    width: 100%;
    height: clamp(12.5rem, 6.027rem + 17.262vw, 21.563rem);
    background-position: center;
    background-size: cover;
    border-radius: 7px;
}

.game-page__release-year {
    font-size: clamp(.7rem, 1.2vw, 1rem);
    background: white;
    border-radius: 10px;
    margin: 0;
    padding: clamp(2px, .3vh, 4px) clamp(5px, .7vw, 10px);
}

.game-page__platform__item {
    display: flex;
    color: whitesmoke;
    font-size: 0.75rem;
    gap: .3vw;
}

.game-page__metascore {
    font-size: 1.5rem;
    padding: 15px;
    border-radius: 10px;
    font-weight: bold;
    background-color: #028A0F;
    color: whitesmoke;
}

.game-page__center {
    grid-area: 3 / 3 / 6 / 4;
}

.game-page__platforms {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.game-page__platforms-item {
    font-size: 1rem;
    padding: 5px;
    border-radius: 10px;
    font-weight: bold;
    background-color: gray;
    color: whitesmoke;
}

.game-page__right-side {
    grid-area: 3 / 4 / 6 / 5;
    color: whitesmoke;
}

.game-page__genres {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.game-page__genres-item {
    font-size: 1rem;
    padding: 5px;
    border-radius: 10px;
    font-weight: bold;
    background-color: gray;
    color: whitesmoke;
}

.game-page__playtime-text {
    color: whitesmoke;
}

.loader {
    margin: clamp(50px, 30vh, 450px) auto;
}